@media all and (max-width: 1170px) {
  #wrap #main #section2 .container .gap .wrap .title h2 {
    font-size: 18px;
  }
  #wrap #main #section2 .container .gap .wrap .content {
    padding: 6.838% 0 0 0;
  }
  #wrap #main #section2 .container .gap .wrap .title h2 {
    font-size: 20px;
  }
  #wrap #main #section3 .container .gap .wrap .content {
    padding: 6.838% 0 0 0;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul > li {
    width: 50%;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
  #wrap #main #section6 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section6 .container .gap .wrap .content > ul > li {
    width: 50%;
  }
  #wrap #main #section6 .container .gap .wrap .content > ul > li .col-gap {
    margin: 5px;
  }
  #wrap #main #section7 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section7 .container .gap .wrap .content > ul > li {
    width: 50%;
  }
  #wrap #main #section7 .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
  #wrap #section8 .container .gap .content .wrap > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #section8 .container .gap .content .wrap > ul > li {
    width: 100%;
  }
  #wrap #section8 .container .gap .content .wrap > ul > li br {
    display: none;
  }
  #wrap #section8 .container .gap .content .wrap > ul > li:first-child .img-box {
    height: 500px;
  }
  #wrap #section8 .container .gap .content .wrap > ul > li:last-child > ul > li {
    text-align: center;
  }
  #wrap #section8 .container .gap .content .wrap > ul > li:last-child > ul > li h2 {
    font-size: 2.5vw;
    line-height: 24px;
  }
  #wrap #section9 .container .gap .wrap .content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #section9 .container .gap .wrap .content ul li {
    width: 50%;
    padding: 10px;
    text-align: center;
  }
  #wrap #section9 .container .gap .wrap .content ul li .top span p {
    margin: 0 auto;
  }
  #wrap #section10 .container .gap .wrap > ul > li .content form {
    width: 80%;
  }
}

@media all and (max-width: 1024px) {
  #wrap #header.h60 .container .gap .wrap #nav {
    top: 60px;
  }
  #wrap #header.h60 .container .gap .wrap #nav > ul > li .sub.sub1356,
  #wrap #header.h60 .container .gap .wrap #nav > ul > li .sub.sub24 {
    top: 0;
  }
  #wrap #header .container .gap .wrap .mobile-menu {
    display: block;
  }
  #wrap #header .container .gap .wrap #nav {
    display: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    background-color: #000;
    height: auto;
    overflow-y: auto;
  }
  #wrap #header .container .gap .wrap #nav > ul {
    width: 100%;
    height: auto;
    display: block;
  }
  #wrap #header .container .gap .wrap #nav > ul > li {
    height: auto;
    border-bottom: 1px solid #888;
    margin: 0;
  }
  #wrap #header .container .gap .wrap #nav > ul > li > a.main-btn {
    height: 38px;
    color: #fff;
    padding: 0 20px;
    line-height: 38px;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap {
    padding: 0 20px;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap > ul {
    width: 100%;
    display: block;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap > ul > li {
    width: 100%;
    border-right: 0;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap > ul > li:last-child {
    border-right: 0;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap > ul > li dl {
    padding: 0;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap > ul > li dl dt {
    border-bottom: 1px solid #303030;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap > ul > li dl dd {
    border-bottom: 1px solid #303030;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap {
    padding: 0 20px;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul {
    width: 100%;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li {
    width: 100%;
    line-height: 35px;
    position: relative;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li > a > span {
    color: #fff;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li > a > span::after {
    display: none;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub {
    border-top: 1px solid #303030;
    position: relative;
    top: 0;
    left: 0;
    background-color: #232323;
    width: 100%;
    display: block;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub .sub-gap {
    padding: 0;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub .sub-gap > ul {
    width: 100%;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub .sub-gap > ul > li {
    width: 100%;
    line-height: 35px;
    border-bottom: 1px solid #303030;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub .sub-gap > ul > li > a > span {
    color: #9d9d9d;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub .sub-gap > ul > li > a > span::after {
    content: '';
  }
}

@media all and (max-width: 991px) {
  #wrap #main #section2,
  #wrap #main #section3 {
    padding: 50px 0;
  }
  #wrap #quickBox {
    display: none;
  }
}

@media all and (max-width: 980px) {
  #wrap #main #section2 .container .gap .wrap .content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section2 .container .gap .wrap .content > ul > li {
    width: 50%;
  }
  #wrap #main #section2 .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
  #wrap #main #section5 .container .gap .wrap .content ul.svg-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section5 .container .gap .wrap .content ul.svg-box li {
    width: 50%;
  }
  #wrap #main #section5 .container .gap .wrap .content ul.svg-box li .col-gap {
    margin: 15px;
  }
  #wrap #footer .container .gap .wrap .content {
    text-align: center;
  }
  #wrap #footer .container .gap .wrap .content .top > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #footer .container .gap .wrap .content .top > ul > li {
    width: 100%;
    padding: 10px;
  }
  #wrap #footer .container .gap .wrap .content .bottom {
    padding: 30px 0 0 0;
  }
  #wrap #footer .container .gap .wrap .content .bottom > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #footer .container .gap .wrap .content .bottom > ul > li {
    width: 100%;
    padding: 10px;
  }
  #wrap #footer .container .gap .wrap .content .bottom > ul > li:first-child {
    text-align: center;
  }
  #wrap #footer .container .gap .wrap .content .bottom > ul > li:last-child {
    text-align: center;
  }
}

@media all and (max-width: 740px) {
  #wrap #main #section2 .container .gap .wrap .title {
    margin: 0 auto;
    width: 70%;
  }
  #wrap #main #section2 .container .gap .wrap .title h2 br {
    display: none;
  }
  #wrap #main #section3 .container .gap .wrap .title {
    margin: 0 auto;
    width: 70%;
    padding: 0 0 6.8% 0;
  }
  #wrap #main #section3 .container .gap .wrap .title h2 {
    font-size: 22px;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
  #wrap #main #section4 .container .gap .wrap #nav {
    padding: 30px 0;
  }
  #wrap #main #section4 .container .gap .wrap #nav ul li {
    display: block;
    margin: 10px 0;
  }
  #wrap #main #section6 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #wrap #main #section7 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #wrap #section8 .container .gap .content .wrap > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #section8 .container .gap .content .wrap > ul > li:first-child .img-box {
    height: 400px;
  }
  #wrap #section8 .container .gap .content .wrap > ul > li:last-child > ul {
    padding: 11.84%;
  }
  #wrap #section8 .container .gap .content .wrap > ul > li:last-child > ul > li {
    text-align: center;
  }
  #wrap #section8 .container .gap .content .wrap > ul > li:last-child > ul > li h3 {
    font-size: 14px;
    line-height: 20px;
  }
  #wrap #section8 .container .gap .content .wrap > ul > li:last-child > ul > li h2 {
    font-size: 3.75vw;
  }
  #wrap #section8 .container .gap .content .wrap > ul > li:last-child > ul > li p {
    line-height: 20px;
  }
  #wrap #section9 .container .gap .wrap .content ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrap #section9 .container .gap .wrap .content ul li {
    width: 100%;
    text-align: center;
  }
  #wrap #section9 .container .gap .wrap .content ul li .top span p {
    margin: 0 auto;
  }
}

@media all and (max-width: 620px) {
  #wrap #main #section2 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
}

@media all and (max-width: 480px) {
  #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption h3 {
    font-size: 2.08047vw;
  }
  #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption h2 {
    font-size: 6.62112vw;
  }
  #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption span a {
    padding: 1.36626vw 3.1529vw;
  }
  #wrap #main #section5 .container .gap .wrap .content ul.svg-box li {
    width: 100%;
  }
  #wrap #main #section3 .container .gap .wrap .title h2 {
    font-size: 14px;
  }
  #wrap #main #section3 .container .gap .wrap .title h2 br {
    display: none;
  }
  #wrap #main #section6 .container .gap .wrap .content > ul > li .col-gap .col-wrap .caption > ul > li {
    padding: 6px 0;
  }
  #wrap #main #section6 .container .gap .wrap .content > ul > li .col-gap .col-wrap .caption > ul > li:last-child {
    padding: 4%;
  }
  #wrap #section8 .container .gap .content .wrap > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #section8 .container .gap .content .wrap > ul > li:first-child .img-box {
    height: 300px;
  }
  #wrap #section8 .container .gap .content .wrap > ul > li:last-child > ul {
    padding: 7.4%;
  }
  #wrap #section8 .container .gap .content .wrap > ul > li:last-child > ul > li {
    text-align: center;
  }
  #wrap #section8 .container .gap .content .wrap > ul > li:last-child > ul > li h2 {
    font-size: 5vw;
  }
  #wrap #section8 .container .gap .content .wrap > ul > li:last-child > ul > li p {
    line-height: 18px;
  }
}
